{{#if opts}}
<select name="opt" {{#if is_cart}}onchange=this.form.submit(){{/if}}>
  {{#each opts}}
  <option value="{{this}}" {{#if (compare ../opt this)}}selected{{/if}}>{{this}}</option>
  {{/each}}
</select>
{{/if}}
