{{#if opts}}
<select name={{name}} {{#if submit_on_change}}onchange=this.form.submit(){{/if}}>
  {{#each opts}}
  <option value="{{this}}" {{#if (compare ../find this)}}selected{{/if}}>{{this}}</option>
  {{/each}}
</select>
{{/if}}
