<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style sheets and scripts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <!-- title -->
    <title>VBS.shop</title>
  </head>
  <body>
    <!-- navbar -->
    <nav id="navbar">
      <h1><a href="#" class="logo">VBS.shop</a></h1>
      <div class="nav-items">
        <a href="#">Profile</a>
        <a href="#">My Orders</a>
        <a href="#">Log In</a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </nav>
    <!-- /navbar -->

    <div class="container">
      <!-- header: slides -->
      <header id="showcase">
        <div class="showcase-card">
          <div class="showcase-img">
            <img src="#" alt="Showcase Image" />
          </div>
          <div class="showcase-info">
            <h2 class="showcase-name">Item 1</h2>
            <p class="price">99999 T</p>
            <a href="#" class="btn"
              >Add to Cart <i class="fas fa-shopping-cart"></i
            ></a>
          </div>
        </div>
      </header>
      <!-- /slides -->

      <div class="hr-rule"></div>

      <!-- main -->
      <main id="catalog">
        <!-- list of items in cards -->
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
        <div class="item-card">
          <!-- item image -->
          <img src="#" alt="Item Image" />
          <h3 class="item-name">Item name here</h3>
          <p class="price">99999 T</p>
          <a href="#" class="btn"
            >Add to Cart <i class="fas fa-shopping-cart"></i
          ></a>
        </div>
      </main>
      <!-- /main -->

      <div class="hr-rule"></div>

      <!-- Pagination -->
      <div class="pagination">
        <a href="#" class="page-btn"> &lt; </a>
        <a href="#" class="page-btn"> 1 </a>
        <a href="#" class="page-btn"> 2 </a>
        <a href="#" class="page-btn"> 3 </a>
        <a href="#" class="page-btn"> 4 </a>
        <a href="#" class="page-btn"> 5 </a>
        <a href="#" class="page-btn"> &gt; </a>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <div class="sitemap">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My Orders</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><a href="#">Serving Life Church</a></li>
          <li><a href="#">Minjae Park</a></li>
        </ul>
      </div>
    </footer>
    <!-- /footer -->
  </body>
</html>
