<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>User: {{username}}</h1>
  <ul>
      <li>First name: {{f_name}}</li>
      <li>Talents: {{talents}} T</li>
      <li>Is mod: {{mod}}</li>
  </ul>
    
</body>

</html>