/********************/
/* general elements */
/********************/

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary-color: teal;
  --secondary-color: turquoise;
  --dark-color: #333;
  --light-color: #ddd;
  font-family: "Roboto", sans-serif;
}

/* anchor tags */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 3rem;
  font-weight: 700;
  background-color: #f44336;
  color: #ffca28;
  border-radius: 0.25rem;
}

.hr-rule {
  width: 95%;
  border-top: 1px solid #aaa;
  margin: 1.5rem;
}

/**************************/
/* general layout of page */
/**************************/

.container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***********/
/* nav bar */
/***********/

#navbar {
  width: 100%;
  display: flex;
  background: whitesmoke;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

#navbar .logo {
  padding: 0.75rem;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-items a {
  padding: 0.75rem;
}

/************/
/* showcase */
/************/

/* container */
#showcase {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #555;
  color: white;
  /* border: 1px solid black; */
  padding: 1rem;
  margin-top: 1.5rem;
}

/* showcased item card */
.showcase-card {
  width: 80%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* item card image */
.showcase-img {
  width: 500px;
  height: 100%;
  border: 1px solid black;
}

.showcase-info {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* item card product name */
.showcase-name {
  display: block;
  font-size: 5rem;
  margin: 2rem;
}

/* item card price */
#showcase .price {
  display: block;
  font-size: 3rem;
}

/* add to cart button */
#showcase .btn {
  width: 95%;
  font-size: 2.5rem;
  padding: 1.5rem 2rem;
}
/***********/
/* catalog */
/***********/

/* container */
#catalog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

#catalog .item-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#catalog .item-card img {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

#catalog .item-card .item-name {
  margin-top: 0.5rem;
}

#catalog .item-card .price {
  margin-top: 0.5rem;
}

#catalog .item-card .btn {
  align-self: center;
  margin-top: 1rem;
}

/**************/
/* pagination */
/**************/

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pagination a {
  display: inline-block;
  padding: 0.33rem 0.67rem;
  margin: 0.1rem;
  border: 1px solid #aaa;
  border-radius: 3px;
}

/**********/
/* footer */
/**********/

/* footer */
footer {
  width: 100%;
  background: #444;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

footer ul {
  border-left: 1px dotted #aaa;
  padding: 0.5rem 1rem;
}

footer a {
  color: #eee;
}